<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0.3//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.rdd.mapper.DetMapper">
    <select id="getDetList" resultType="Integer">
        SELECT
        det.id,
        (SELECT COUNT(*)
        FROM def
        WHERE def.img_id = det.id
        AND (def.stat = 2 OR def.stat = 3)) AS complete_num
        FROM det
        WHERE det.delete_flag = 'N'
        <if test="type != 'all'">
            AND EXISTS (
            SELECT 1
            FROM def
            WHERE def.img_id = det.id
              AND def.delete_flag = 'N'
            <choose>
                <when test="type == 'crack'">
                    AND def.type IN (0, 1, 2)
                </when>
                <when test="type == 'pothole'">
                    AND def.type = 3
                </when>
            </choose>
            )
        </if>
        <choose>
            <when test="defNum != null">
                ORDER BY det.def_num ${defNum}
            </when>
            <when test="createdTime != null">
                ORDER BY det.created_time ${createdTime}
            </when>
            <when test="updatedTime != null">
                ORDER BY det.updated_time ${updatedTime}
            </when>
        </choose>
    </select>


<update id="deleteDet">

    UPDATE det
    SET delete_flag = 'Y', updated_by=#{username},updated_time= now()
    WHERE id = #{id};

</update>
    <update id="deleteDef">
        UPDATE def
        SET delete_flag = 'Y',updated_by=#{username}, updated_time= now()
        WHERE img_id = #{id};

    </update>

</mapper>
